.home--wrapper {
	//Планета на фоне
	&__planet-fon {
		background-image: url(../assets/pngwing.png);
		width: 550px;
		height: 550px;
		background-repeat: no-repeat;
		background-size: contain;
		opacity: 0.9;
		position: absolute;
		left: 35%;
		z-index: 0;
	}

	//""Резюме""
	&__summary {
		font-family: 'Oi', cursive;
		font-size: 80px;
		font-weight: normal;
		width: max-content;
		margin: 40px auto;
		padding: 10px;
		padding-top: 25px;
		border: 7px solid #ffffff;
		border-top-left-radius: 200px;
		border-bottom-right-radius: 200px;
		color: #ffffff;
		text-shadow: 10px 10px 20px #000000,
			-10px -10px 20px black;
		box-shadow: 5px 5px 20px #000000,
			-5px -5px 20px #000000;
		line-height: 90px;
		z-index: 9;
		position: relative;
	}

	//Осноной блок
	&__home-main {

		//100%
    width: 50%;

		//70%
		@media (max-width: 1390px) {
			width: 60%;
		}

		//50%
		@media (max-width: 990px) {
			width: 80%;
		}

		//О себе
		&__content {
			position: relative;
			top: 20px;

			&__beginning {
				overflow: auto;

				&__photo {
					float: right;
					width: 40%;
					margin: 5px 5px 10px 10px;
					border: 1px solid #000000;
					border-radius: 25px;
					position: relative;
					transition: all 200ms ease;

					&:hover {
						transform: scale(1.02);
					}
				}
			}
		}

		//Работа
		&__work {
			list-style: square;
			margin-left: 17px;
			font-weight: 600;

			&__title {
				list-style: none;
				margin-left: 0;
				font-weight: 600;
			}
		}

	}
}
