@import 'main-home';

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Pangolin', cursive;
  letter-spacing: 1px;
  font-size: 15px;
  text-decoration: none;
}

body {
  background-color: var(--fon-color);
  color: var(--fext-color);
  min-width: 750px;
  text-shadow: 2px 2px 5px var(--shadow-color);

  a {
    color: inherit;
  }

  main {
    margin: 0 auto;
  }

  .main--wrapper {
    min-height: 170vh;
    margin-left: 110px;
  }
}
