%button-shared {
	padding: 2px 4px;
	display: block;
	cursor: pointer;
	margin-top: 15px;
	border-radius: 25%;
	border: 1px solid black;
	box-shadow: 1px 1px 2px black;
	transition: all 200ms ease;
}

%button-hover {
	transform: scale(1.1);
}

%shadow-shared {
	text-shadow: 2px 2px 5px var(--shadow-color),
		-2px -2px 5px var(--shadow-color);
}

.aside {
	position: fixed;
	height: 100%;
	width: 110px;
	display: flex;
	flex-direction: column;
	z-index: 11;
	background-color: var(--aside-color);
	box-shadow: 0 0 10px rgb(2, 4, 24);
	align-items: center;

	//Логотип
	&__header {
		display: flex;
		flex-direction: column;

		&__h1 {
			display: block;
			color: var(--basic-color);
			font-size: 25px;
			text-align: center;
			cursor: pointer;
		}

		&__logo__bee {
			width: 60%;
			position: relative;
			margin-top: 10%;
			left: 15%;
			fill: var(--basic-color);
			cursor: pointer;
		}
	}

	//Смена расцветки
	&__switch {
		display: flex;
		flex-direction: column;
		position: relative;
		top: 16vh;
		text-align: center;
		border: 1px solid black;
		padding: 20px 10px 10px 10px;
		border-radius: 15px;
		background-color: var(--fon-color);
		font-family: 'Times New Roman', Times, serif;
		box-shadow: 1px 1px 1px black;
		box-shadow: 1px 1px 40px var(--basic-color),
			-1px -1px 15px var(--basic-color);
		color: var(--fext-color);

		&__block {

			//Тема
			&__theme {
				@extend %shadow-shared;
			}

			//Осноной цвет
			&__color {
				@extend %shadow-shared;
				margin-top: 30px;
			}

			&__button {
				@extend %button-shared;
				background-color: inherit;

				&:hover {
					@extend %button-hover;
				}

				//Кнопка светлой темы
				&__light {
					@extend %button-shared;
					color: #000000;
					background-color: #ffffff;

					&:hover {
						@extend %button-hover;
					}
				}

				//Кнопка тёмной темы
				&__dark {
					@extend %button-shared;
					background-color: #333;

					&:hover {
						@extend %button-hover;
					}
				}

				&__icon {
					position: relative;
					top: 1px;
					left: 1px;
				}
			}
		}
	}
}