:root,
[fondata=light] {
	--fext-color: #000000;
	--fon-color: #ebebeb;
	--shadow-color: #eeeeee;
	--aside-color: #d8d8d8;

	--basic-color: #f8a131;
	--light-color: #f8d09c;
	--dark-color: #ff960d;
}

[fondata=dark] {
	--fext-color: #ffffff;
	--fon-color: #333;
	--shadow-color: #000000;
	--aside-color: #505050;

	--basic-color: #f8a131;
	--light-color: #f8d09c;
	--dark-color: #ff960d;
}

[colordata=orange] {
	--basic-color: #f8a131;
	--light-color: #f8d09c;
	--dark-color: #ff960d;
}

[colordata=blue] {
	--basic-color: #1792f7;
	--light-color: #94c9f5;
	--dark-color: #007de4;
}

[colordata=green] {
	--basic-color: #8bc34a;
	--light-color: #c4e79c;
	--dark-color: #6cca00;
}

[colordata=red] {
	--basic-color: #ff5f2e;
	--light-color: #ffa488;
	--dark-color: #ff3c00;
}